<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.android.utaappointmentscheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".history_of_appointments" />
        <activity android:name=".create_appointment_slot" />
        <activity android:name=".course_details" />
        <activity android:name=".Messenger" />
        <activity android:name=".live_status" />
        <activity
            android:name=".chat_messenger"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".search" />
        <activity android:name=".settings" />
        <activity android:name=".LogoutActivity"></activity>
    </application>

</manifest>